# **Project Name**    -  Customer satisfaction prediction with Deep Learning

##### **Project Type**    - DeepLearning
##### **Contribution**    - Individual
##### **Author**          - Aparna Praturi

# **Project Summary -**

# **GitHub Link -**

# **Problem Statement**

# **Solution**

## ***1. Knowing Data***

### Import Libraries

In [127]:
# Import Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV

from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import  RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import KFold


import shap
import pickle
import joblib

### Dataset Loading

In [128]:
# Mounting drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [129]:

# Defining the path to data file

path = '/content/drive/MyDrive/Data science/Datasets/Deep Learning/CSAT.csv'

# Loading data to df

try:

  df_1 = pd.read_csv(f'{path}')

  print("Data loaded successfully!")

except FileNotFoundError:
    print(f"Error: The file(s) at {path} were not found. Please check the path.")

except pd.errors.EmptyDataError:
    print(f"Error: The file(s) at {path} is empty. Please check the file content.")

except pd.errors.ParserError:
    print(f"Error: There was a problem parsing the file(s) at {path}. Please check the file(s) format.")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

Data loaded successfully!

### Dataset First View

In [130]:
# Make a copy of dataset for first look and  visualisation part

df = df_1.copy()

In [131]:
# Dataset First Look

df.head(10)

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,NaN,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,b07ec1b0-f376-43b6-86df-ec03da3b2e16,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,NaN,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,200814dd-27c7-4149-ba2b-bd3af3092880,Inbound,Order Related,Installation/demo,NaN,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,NaN,NaN,NaN,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,eb0d3e53-c1ca-42d3-8486-e42c8d622135,Inbound,Returns,Reverse Pickup Enquiry,NaN,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,NaN,NaN,NaN,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,ba903143-1e54-406c-b969-46c52f92e5df,Inbound,Cancellation,Not Needed,NaN,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,NaN,NaN,NaN,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5
5,1cfde5b9-6112-44fc-8f3b-892196137a62,Email,Returns,Fraudulent User,NaN,a2938961-2833-45f1-83d6-678d9555c603,NaN,01/08/2023 15:13,01/08/2023 18:39,01-Aug-23,NaN,NaN,NaN,NaN,Desiree Newton,Emma Park,John Smith,0-30,Morning,5
6,11a3ffd8-1d6b-4806-b198-c60b5934c9bc,Outcall,Product Queries,Product Specific Information,NaN,bfcb562b-9a2f-4cca-aa79-fd4e2952f901,NaN,01/08/2023 15:31,01/08/2023 23:52,01-Aug-23,NaN,NaN,NaN,NaN,Shannon Hicks,Aiden Patel,Olivia Tan,>90,Morning,5
7,372b51a5-fa19-4a31-a4b8-a21de117d75e,Inbound,Returns,Exchange / Replacement,Very good,88537e0b-5ffa-43f9-bbe2-fe57a0f4e4ae,NaN,01/08/2023 16:17,01/08/2023 16:23,01-Aug-23,NaN,NaN,NaN,NaN,Laura Smith,Evelyn Kimura,Jennifer Nguyen,On Job Training,Evening,5
8,6e4413db-4e16-42fc-ac92-2f402e3df03c,Inbound,Returns,Missing,Shopzilla app and it's all coustomer care serv...,e6be9713-13c3-493c-8a91-2137cbbfa7e6,NaN,01/08/2023 21:03,01/08/2023 21:07,01-Aug-23,NaN,NaN,NaN,NaN,David Smith,Nathan Patel,John Smith,>90,Split,5
9,b0a65350-64a5-4603-8b9a-a24a4a145d08,Inbound,Shopzilla Related,General Enquiry,NaN,c7caa804-2525-499e-b202-4c781cb68974,NaN,01/08/2023 23:31,01/08/2023 23:36,01-Aug-23,NaN,NaN,NaN,NaN,Tabitha Ayala,Amelia Tanaka,Michael Lee,31-60,Evening,5

### Dataset Rows & Columns count

In [132]:
# Dataset Rows & Columns count

df.shape

(85907, 20)

### Dataset Information

In [133]:
# Dataset Info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unique id                85907 non-null  object
 1   channel_name             85907 non-null  object
 2   category                 85907 non-null  object
 3   Sub-category             85907 non-null  object
 4   Customer Remarks         28742 non-null  object
 5   Order_id                 67675 non-null  object
 6   order_date_time          17214 non-null  object
 7   Issue_reported at        85907 non-null  object
 8   issue_responded          85907 non-null  object
 9   Survey_response_Date     85907 non-null  object
 10  Customer_City            17079 non-null  object
 11  Product_category         17196 non-null  object
 12  Item_price               17206 non-null  float64
 13  connected_handling_time  242 non-null    float64
 14  Agent_name               85907 non-null  object
 15  Supervisor               85907 non-null  object
 16  Manager                  85907 non-null  object
 17  Tenure Bucket            85907 non-null  object
 18  Agent Shift              85907 non-null  object
 19  CSAT Score               85907 non-null  int64
dtypes: float64(2), int64(1), object(17)
memory usage: 13.1+ MB

#### Duplicate Values

In [134]:
# Dataset Duplicate Value Count

len(df[df.duplicated()])

0

In [135]:
# dropping identifier features

df.drop(columns = ['Unique id', 'Order_id'], inplace = True)

#### Missing Values/Null Values

In [136]:
# Missing Values/Null Values Count

df.isnull().sum()

channel_name                   0
category                       0
Sub-category                   0
Customer Remarks           57165
order_date_time            68693
Issue_reported at              0
issue_responded                0
Survey_response_Date           0
Customer_City              68828
Product_category           68711
Item_price                 68701
connected_handling_time    85665
Agent_name                     0
Supervisor                     0
Manager                        0
Tenure Bucket                  0
Agent Shift                    0
CSAT Score                     0
dtype: int64

In [137]:
# percentage of missing values

missing_percent = round(df.isnull().sum()/len(df.index)*100, 2)
missing_percent

channel_name                0.00
category                    0.00
Sub-category                0.00
Customer Remarks           66.54
order_date_time            79.96
Issue_reported at           0.00
issue_responded             0.00
Survey_response_Date        0.00
Customer_City              80.12
Product_category           79.98
Item_price                 79.97
connected_handling_time    99.72
Agent_name                  0.00
Supervisor                  0.00
Manager                     0.00
Tenure Bucket               0.00
Agent Shift                 0.00
CSAT Score                  0.00
dtype: float64

In [138]:
# Deleting columns with more than 70% missing values

cols_to_drop = missing_percent[missing_percent>70].index
df = df.drop(columns = cols_to_drop)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   channel_name          85907 non-null  object
 1   category              85907 non-null  object
 2   Sub-category          85907 non-null  object
 3   Customer Remarks      28742 non-null  object
 4   Issue_reported at     85907 non-null  object
 5   issue_responded       85907 non-null  object
 6   Survey_response_Date  85907 non-null  object
 7   Agent_name            85907 non-null  object
 8   Supervisor            85907 non-null  object
 9   Manager               85907 non-null  object
 10  Tenure Bucket         85907 non-null  object
 11  Agent Shift           85907 non-null  object
 12  CSAT Score            85907 non-null  int64
dtypes: int64(1), object(12)
memory usage: 8.5+ MB

In [140]:
# replace nan values in remarks with "no remarks"

df['Customer Remarks'] = df['Customer Remarks'].fillna('no remarks')

In [141]:
df.isna().sum()

channel_name            0
category                0
Sub-category            0
Customer Remarks        0
Issue_reported at       0
issue_responded         0
Survey_response_Date    0
Agent_name              0
Supervisor              0
Manager                 0
Tenure Bucket           0
Agent Shift             0
CSAT Score              0
dtype: int64

## ***2. Understanding Variables***

### Variables Description

#### Definitions of the variables:

1. **travelCode** : A unique numeric code for each booking.

2. **userCode**: A unique numeric code for individual users.

3. **from** : The origin city of the flight.

4. **to** : the destination city of the flight.

5. **flightType**: The type of flight .(Economy/First class/ Premium)

6. **price** : The flight fare for the trip. (Target variable)

7. **distance** : The distance covered by flight in the trip.

8. **time** : the time taken by the flight to complete the trip

9. **agency** : The flight agency responsible for the trip.

10. **date** : The date of the trip.

In [142]:
# Understanding the basic statistics of the numeric columns

df.describe()

         CSAT Score
count  85907.000000
mean       4.242157
std        1.378903
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

### Checking Unique Values for each variable.

In [143]:
# Check Unique Values for each variable.

for i in df.columns:
  print(f' {i} : {df[i].nunique()}')

 channel_name : 3
 category : 12
 Sub-category : 57
 Customer Remarks : 18232
 Issue_reported at : 30923
 issue_responded : 30262
 Survey_response_Date : 31
 Agent_name : 1371
 Supervisor : 40
 Manager : 6
 Tenure Bucket : 5
 Agent Shift : 5
 CSAT Score : 5

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   channel_name          85907 non-null  object
 1   category              85907 non-null  object
 2   Sub-category          85907 non-null  object
 3   Customer Remarks      85907 non-null  object
 4   Issue_reported at     85907 non-null  object
 5   issue_responded       85907 non-null  object
 6   Survey_response_Date  85907 non-null  object
 7   Agent_name            85907 non-null  object
 8   Supervisor            85907 non-null  object
 9   Manager               85907 non-null  object
 10  Tenure Bucket         85907 non-null  object
 11  Agent Shift           85907 non-null  object
 12  CSAT Score            85907 non-null  int64
dtypes: int64(1), object(12)
memory usage: 8.5+ MB

In [145]:
date_time_features = ['Issue_reported at', 'issue_responded', 'Survey_response_Date']
# converting date time features to datetime type

for i in date_time_features:
  df[i] = pd.to_datetime(df[i], format = "mixed")

In [146]:
# extracting month, year and hour , date and is weekend from issue date

df['month'] = df['Issue_reported at'].dt.month
df['year'] = df['Issue_reported at'].dt.year
df['day'] = df['Issue_reported at'].dt.day
df['hour'] = df['Issue_reported at'].dt.hour
df['is_weekend']=np.where(df['Issue_reported at'].dt.dayofweek.isin([5,6]),1,0)

In [147]:
# creating a response time feature

df['response_time'] = (df['issue_responded'] - df['Issue_reported at']).dt.total_seconds()

In [148]:
# extracting features from survey_date
df['survey_month'] = df['Survey_response_Date'].dt.month
df['survey_year'] = df['Survey_response_Date'].dt.year
df['survey_date'] = df['Survey_response_Date'].dt.day

In [149]:
# Finding no. of unique values
print(f'no.of years : {df["year"].nunique()}')
print(f'no.of months : {df["month"].nunique()}')
print(f'no.of days : {df["day"].nunique()}')
print(f'no.of hours : {df["hour"].nunique()}')
print(f'no.of survey months : {df["survey_month"].nunique()}')
print(f'no.of survey year : {df["survey_year"].nunique()}')
print(f'no.of survey days : {df["survey_date"].nunique()}')

no.of years : 1
no.of months : 12
no.of days : 20
no.of hours : 24
no.of survey months : 1
no.of survey year : 1
no.of survey days : 31

In [151]:
# removing variables which have one one value, year, survey_month, survey year and original datetime features

df.drop(columns = ['year', 'survey_month', 'survey_year','Issue_reported at','issue_responded','Survey_response_Date'], inplace = True)

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85907 entries, 0 to 85906
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   channel_name      85907 non-null  object
 1   category          85907 non-null  object
 2   Sub-category      85907 non-null  object
 3   Customer Remarks  85907 non-null  object
 4   Agent_name        85907 non-null  object
 5   Supervisor        85907 non-null  object
 6   Manager           85907 non-null  object
 7   Tenure Bucket     85907 non-null  object
 8   Agent Shift       85907 non-null  object
 9   CSAT Score        85907 non-null  int64
 10  month             85907 non-null  int32
 11  day               85907 non-null  int32
 12  hour              85907 non-null  int32
 13  is_weekend        85907 non-null  int64
 14  response_time     85907 non-null  float64
 15  survey_date       85907 non-null  int32
dtypes: float64(1), int32(4), int64(2), object(9)
memory usage: 9.2+ MB

In [153]:
# cyclical encoding month, date,  hour,survey_date

df['month_sin'] = np.sin(2*np.pi*df['month']/12)
df['month_cos'] = np.cos(2*np.pi*df['month']/12)
df['day_sin'] = np.sin(2*np.pi*df['day']/31)
df['day_cos'] = np.cos(2*np.pi*df['day']/31)
df['hour_sin'] = np.sin(2*np.pi*df['hour']/24)
df['hour_cos'] = np.cos(2*np.pi*df['hour']/24)
df['survey_date_sin'] = np.sin(2*np.pi*df['survey_date']/31)
df['survey_date_cos'] = np.cos(2*np.pi*df['survey_date']/31)

In [154]:
# Ordinal encoding tenure bucket

map = {'On Job Training':0, '0-30':1,'31-60':2, '61-90':3, '>90':4 }
df['tenure_map'] = df['Tenure Bucket'].map(map)

In [168]:
df['is_weekend'] = pd.to_numeric(df['is_weekend'])

In [156]:
train_df, val_df = train_test_split(df, test_size=0.2, random_state=42)

In [194]:
y_train = train_df['CSAT Score']-1
y_val = val_df['CSAT Score']-1

y_train = y_train.astype(int)
y_val = y_val.astype(int)

In [159]:
# OH encoding cat variables

cat_features = ['channel_name','category','Manager', 'Agent Shift']
oh_train = pd.get_dummies(train_df[cat_features])
oh_val = pd.get_dummies(val_df[cat_features])
oh_train, oh_val = oh_train.align(oh_val,join='left', axis=1, fill_value = 0)

In [163]:
# label encoding agent, supervisor, subcategory for later embedding

from sklearn.preprocessing import LabelEncoder

le_agent = LabelEncoder()
le_supervisor = LabelEncoder()
le_subcategory = LabelEncoder()

agent_ids_train = le_agent.fit_transform(train_df['Agent_name'])
agent_ids_val = le_agent.transform(val_df['Agent_name'])

supervisor_ids_train = le_supervisor.fit_transform(train_df['Supervisor'])
supervisor_ids_val = le_supervisor.transform(val_df['Supervisor'])

subcategory_ids_train = le_subcategory.fit_transform(train_df['Sub-category'])
subcategory_ids_val = le_subcategory.transform(val_df['Sub-category'])

In [169]:
# standard scaling response time

scaler = StandardScaler()
response_time_train = scaler.fit_transform(train_df[['response_time']])
response_time_val = scaler.transform(val_df[['response_time']])

In [170]:
# tf-idf for customer remarks

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=500)
tfidf_train = tfidf.fit_transform(train_df['Customer Remarks'].fillna(''))
tfidf_val = tfidf.transform(val_df['Customer Remarks'].fillna(''))

In [173]:
# combining all numeric features

num_train = pd.concat([train_df[['month_sin', 'month_cos','day_sin','day_cos','hour_sin','hour_cos',
                                'survey_date_sin','survey_date_cos','tenure_map', 'is_weekend']],
                      oh_train,
                      pd.DataFrame(response_time_train, index=train_df.index, columns=['response_time'])],axis=1)
num_val = pd.concat([val_df[['month_sin', 'month_cos','day_sin','day_cos','hour_sin','hour_cos',
                                'survey_date_sin','survey_date_cos','tenure_map', 'is_weekend']],
                      oh_val,
                      pd.DataFrame(response_time_val, index=val_df.index, columns=['response_time'])],axis=1)

In [199]:
num_train = num_train.astype({col: 'int' for col in num_train.select_dtypes(bool).columns})
num_val = num_val.astype({col: 'int' for col in num_val.select_dtypes(bool).columns})

In [188]:
# defining inputs
from tensorflow.keras.layers import Input, Embedding, Flatten, Concatenate, Dense

agent_input = Input(shape=(1,), name = 'agent_name')
supervisor_input = Input(shape=(1,), name = 'supervisor')
subcategory_input = Input(shape=(1,), name = 'subcategory')

numeric_input = Input(shape=(num_train.shape[1],), name = 'numeric_input')
tfidf_input = Input(shape=(tfidf_train.shape[1],), name = 'tfidf_input')

In [189]:
# embeddings

agent_emb = Embedding(input_dim = len(le_agent.classes_), output_dim=8)(agent_input)
supervisor_emb = Embedding(input_dim = len(le_supervisor.classes_), output_dim=4)(supervisor_input)
subcategory_emb = Embedding(input_dim = len(le_subcategory.classes_), output_dim=4)(subcategory_input)

agent_emb = Flatten()(agent_emb)
supervisor_emb = Flatten()(supervisor_emb)
subcategory_emb = Flatten()(subcategory_emb)

In [227]:
# Combine all
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.regularizers import l2
from tensorflow.keras.layers import Dropout

combined = Concatenate()([agent_emb, supervisor_emb,subcategory_emb, numeric_input#, tfidf_input
                          ])

x = Dense(128, activation='relu',  kernel_regularizer=l2(0.001))(combined)
x = Dropout(0.3)(x)
x = Dense(64, activation='relu',  kernel_regularizer=l2(0.001))(x)
x = Dropout(0.3)(x)
x = Dense(64, activation='relu',  kernel_regularizer=l2(0.001))(x)
x = Dropout(0.3)(x)
x = Dense(32, activation='relu',  kernel_regularizer=l2(0.001))(x)
x = Dropout(0.1)(x)
output = Dense(5, activation='softmax')(x)

optimizer = Adam(learning_rate=0.005)

model = Model(inputs=[agent_input, supervisor_input, subcategory_input, numeric_input],# tfidf_input],
                      outputs=output)
model.compile(optimizer=optimizer, loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [ ]:
# from tensorflow.keras.callbacks import EarlyStopping

# early_stop = EarlyStopping(patience=3, restore_best_weights=True)
# model.fit(..., callbacks=[early_stop])

In [228]:
#  train the model

model.fit(
    x=[agent_ids_train, supervisor_ids_train, subcategory_ids_train, num_train.to_numpy()#, tfidf_train.toarray()
    ],
    y=y_train.to_numpy(),
    validation_data=([agent_ids_val, supervisor_ids_val,subcategory_ids_val, num_val.to_numpy()#, tfidf_val.toarray()
    ],
                     y_val.to_numpy()),
    epochs=10,
    batch_size=32
)

Epoch 1/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 13s 5ms/step - accuracy: 0.6929 - loss: 1.0327 - val_accuracy: 0.6962 - val_loss: 0.9329
Epoch 2/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 8s 4ms/step - accuracy: 0.6947 - loss: 0.9304 - val_accuracy: 0.6957 - val_loss: 0.9301
Epoch 3/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 11s 4ms/step - accuracy: 0.6982 - loss: 0.9220 - val_accuracy: 0.6957 - val_loss: 0.9303
Epoch 4/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 12s 5ms/step - accuracy: 0.6942 - loss: 0.9265 - val_accuracy: 0.6946 - val_loss: 0.9334
Epoch 5/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - accuracy: 0.6947 - loss: 0.9244 - val_accuracy: 0.6963 - val_loss: 0.9385
Epoch 6/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - accuracy: 0.6947 - loss: 0.9248 - val_accuracy: 0.6962 - val_loss: 0.9336
Epoch 7/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 9s 4ms/step - accuracy: 0.6934 - loss: 0.9293 - val_accuracy: 0.6958 - val_loss: 0.9352
Epoch 8/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - accuracy: 0.6970 - loss: 0.9222 - val_accuracy: 0.6950 - val_loss: 0.9383
Epoch 9/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 12s 5ms/step - accuracy: 0.6958 - loss: 0.9207 - val_accuracy: 0.6954 - val_loss: 0.9421
Epoch 10/10
2148/2148 ━━━━━━━━━━━━━━━━━━━━ 8s 4ms/step - accuracy: 0.6950 - loss: 0.9238 - val_accuracy: 0.6960 - val_loss: 0.9311